<div id="root" style="width: 280px; margin: 40px auto; padding: 10px; border-style: dashed; border-width: 1px;">
    embeded area
</div>
<script src="https://cdn.auth0.com/js/lock-7.0.min.js"></script>
<script>
  var lock = new Auth0Lock('xgSKjO7S71kO9OBXBYRtzbjBDJP1aB1n', 'app34086970.auth0.com');
  
  lock.show({
      container: 'root'
    , callbackURL: 'http://goverlan-order-summaries.herokuapp.com/auth/auth0/callback'
    , responseType: 'code'
    , authParams: {
      scope: 'openid profile'
    }
  });
</script>