/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*#topbar-fixed {
	background-color: #181818 !important;
	height: 60px;
	position: fixed;
	right: 0px;
	top: 0px;
	width: 100% !important;
	z-index: 9990;
}			
#goverlan-grey {
    position: fixed;
    left: 15px;
    top: 15px;
    z-index: 9999;
}
.container {
    margin-top: 75px;
}*/

.navbar-inverse {
	background-color: #333333 !important;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
	background-color: #4d4d4d !important;
}
.navbar-inverse .navbar-nav > li > a {
	color: #e6e6e6 !important;
}
.navbar-inverse .form-control input[type=text] {
	box-shadow: inset 0 -1px 0 #e6e6e6;
	-webkit-box-shadow: inset 0 -1px 0 #e6e6e6;
}
.navbar-inverse ::-webkit-input-placeholder {
   color: #ffffff !important;
}
.navbar-inverse :-moz-placeholder { /* Firefox 18- */
   color: #ffffff !important;  
}
.navbar-inverse ::-moz-placeholder {  /* Firefox 19+ */
   color: #ffffff !important;  
}
.navbar-inverse :-ms-input-placeholder {  
   color: #ffffff !important;  
}