// Place all the styles related to the order_summaries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-primary, .btn-primary:hover, .btn-primary:visited, .btn-primary:active {
	color: #ffffff;
	text-decoration: none;
}
.btn-default, .btn-default:hover, .btn-default:visited, .btn-default:active {
	color: #333333;
	text-decoration: none !important;
}
.btn-success, .btn-success:hover, .btn-success:visited, .btn-success:active {
	color: #ffffff;
	text-decoration: none !important;
}

.marginTop25 {
	margin-top: 25px;
}

.modal .modal-dialog {
	margin-top: 15%;
}