// Place all the styles related to the order_summaries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-primary, .btn-primary:hover, .btn-primary:visited, .btn-primary:active {
	color: #ffffff;
	text-decoration: none;
}
.btn-default, .btn-default:hover, .btn-default:visited, .btn-default:active {
	color: #333333;
	text-decoration: none !important;
}
.btn-success, .btn-success:hover, .btn-success:visited, .btn-success:active {
	color: #ffffff;
	text-decoration: none !important;
}
.marginTop25 {
	margin-top: 25px;
}
.modal .modal-dialog {
	margin-top: 15%;
}
th a:link { 
  color: #333333;
}
th a:visited { 
  color: #333333;
}
th a:hover { 
	background: none;
  color: #cccccc;
  text-decoration: none;
}
th a:active { 
  color: #333333;
}
/*.table th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.table th .asc {
  background-image: url(/images/arrows_up.png);
}

.table th .desc {
  background-image: url(/images/arrows_down.png);
}*/